// btn

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transition: background-color .2s linear, color .2s linear;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  height: 6rem;
  font-size: 3.2rem;
  font-weight: 500;
  border-radius: 23px;

  @media(max-width: 991px) {
    font-size: 1.4rem;
    height: 4rem;
  }

  @media(max-width: 575px) {
    font-size: 1rem;
    height: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &--md {
    height: 6.7rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-size: 2.8rem;

    @media(max-width: 991px) {
      font-size: 1.4rem;
      height: 4rem;
    }

    @media(max-width: 575px) {
      font-size: 1.2rem;
      height: 3rem;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      border-radius: 11px;
    }
  }

  &--lg {
    height: 7rem;
  }

  &--gray {
    background-color: var(--gray-light);

    &:hover {
      background-color: rgba(#797979, $alpha: .3);
    }
  }

  &--white {
    background-color: #fff;
    color: #000;
    transition: opacity .2s linear;

    &:hover {
      opacity: .8;
    }
  }

  &--green {
    background-color: #196061;
    color: #fff;
  }
}

.productBtn {
  margin-top: 4rem;

  @media(max-width: 1400px) {
    margin-top: 2rem;
  }

  @media(max-width: 575px) {
    width: 12rem;
    font-size: 2rem;
    height: 36px;
    border-radius: 6px;
  }
}

.youtubeBtn {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  z-index: 1;
}

.popularSlideBtn {
  @media(max-width: 767px) {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 23px;
    height: 30px;
  }

  @media(max-width: 575px) {
    font-size: 1rem;
    padding-left: .7rem;
    padding-right: .7rem;
    height: 22px;
  }
}