.history {
  position: relative;
  overflow: hidden;
  &.bg--white-bottom {
    background: url('@img/bg/bg.png') no-repeat bottom right / 800px;
  }
  &.bg--white-left {
    &::before {
      content: '';
      position: absolute;
      width: 130rem;
      height: 150rem;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: url('@img/bg/bg-white-left.png') no-repeat center left / contain;
    }
    
  }
  &Head {
    max-width: 123rem;
    margin-top: 7rem;
    margin-bottom: 7rem;
    @media(max-width: 1400px){
      margin-top: 4rem;
    }
    @media(max-width: 991px){
      margin-bottom: 4rem;
    }
  }
  &Logo {
    margin-left: auto;
    margin-right: auto;
    width: 41rem;
    margin-bottom: 14rem;
    @media(max-width: 1400px){
      width: 25rem;
      margin-bottom: 8rem;
    }
    &--lg {
      @media(max-width: 991px){
        display: none;
      }
    }
    &--sm {
      display: none;
      @media(max-width: 991px){
        display: block;
        max-width: 13rem;
        margin-bottom: 2rem;
      }
    }
  }
}
.historyGrid{
  column-gap: 4.7rem;
  @media(max-width: 991px){
    row-gap: 4rem;
    column-gap: 0;
  }
  &--reverse {
    &-sm {
      @media(max-width: 991px){
        display: flex;
        flex-direction: column-reverse;
      }     
    }
  }
}