.service {
  &Text {
    margin-top: 10rem;
    margin-bottom: 10rem;
    max-width: 115rem;
    @media(max-width: 1400px){
      margin-top: 6rem;
      margin-bottom: 6rem;
    }
    @media(max-width: 767px){
      font-size: 1.4rem;
    }
  }

  &Action {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    cursor: pointer;
    transition: opacity .2s linear;

    @media(max-width: 575px){
      margin-bottom: 1.2rem;
    }
    &:hover {
      opacity: .8;
    }
  }
}

.services {
  overflow: hidden;
  &.bg--green {
    background: url('@img/bg/bg-green.png') no-repeat top 20% center / contain;
  }

  &.bg--green-bottom {
    position: relative;

    &::before {
      left: 0;
      bottom: 0;
      width: 102rem;
      height: 150rem;
      content: '';
      position: absolute;
      background: url('@img/bg/bg-green-bottom.png') no-repeat center center / contain;
      z-index: -1;
    }
  }

  &List {
    margin-top: 10rem;
    @media(max-width: 991px){
      margin-top: 5rem;
    }
  }

  &Item {
    margin-bottom: 15rem;
    @media(max-width: 1400px){
      margin-bottom: 10rem;
    }
@media(max-width: 991px){
  margin-bottom: 6rem;
}

    &Title {
      font-size: 3.2rem;
      max-width: 57rem;
      font-weight: 500;
      position: relative;
      @media(max-width: 1400px){
        font-size: 2.6rem;
      }
      @media(max-width: 991px){
        font-size: 1.5rem;
        max-width: 30rem;
      }

      &:hover {
        opacity: .8;
      }

      &::before {
        content: '';
        position: absolute;
        background-color: #252525;
        left: -1000rem;
        top: 50%;
        transform: translateY(-50%);
        height: calc(100% + 1rem);
        width: calc(100% + 1001rem);
        z-index: -1;
        border-radius: 0 10px 10px 0;
        @media(max-width: 991px){
          height: calc(100% + 2.5rem);
        }
      }
    }

    .content {
      padding-left: 15rem;
      max-width: 118rem;
      margin-top: 7.5rem;
      @media(max-width: 1400px){
        margin-top: 4rem;
        padding-left: 7rem;
      }
      @media(max-width: 991px){
        padding-left: 0;
        margin-top: 3rem;
      }
      p {
        @media(max-width: 991px){
          font-size: 1.3rem;
        }
      }
    }

  }
}

.servicesHome {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 7rem;
  column-gap: 2rem;
  align-items: flex-end;
  @media(max-width: 767px){
    column-gap: 5rem;
  }
  @media(max-width: 575px){
    column-gap: 3rem;
  }
  @media(max-width: 374px){
    column-gap: 2rem;
  }
}

.servicesHomeRow {
  column-gap: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.servicesHomeItem {
  // max-width: 33.5rem;
  width: 31rem;
  position: relative;
  height: fit-content;
  text-align: center;
  font-size: 2.4rem;
  transition: color .2s linear;
  grid-column: 4 span;
  margin-left: auto;
  margin-right: auto;

  @media(max-width: 1400px) {
    font-size: 2rem;
  }
  @media(max-width: 991px){
    grid-column: 6 span;
  }
  @media(max-width: 767px){
    width: 100%;
    text-align: start;
  }
  @media(max-width: 575px){
    font-size: 1.3rem;
  }

  &:hover {
    color: #0e5e5e;

    &:before {
      background-color: #0e5e5e;
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 225px;
    height: 1px;
    background-color: #fff;
    bottom: -2rem;
    transition: background-color .2s linear;
    @media(max-width: 767px){
      bottom: -1.5rem;
      right: unset;
      width: 100%;
    }
  }
}

.servicesHomeLogo {
  width: 14rem;
  position: relative;
  top: 3rem;
  grid-column: 4 span;
  margin-left: auto;
  margin-right: auto;
}
.serviceGrid{
  column-gap: 5rem;
  @media(max-width: 575px){
    column-gap: 1.4rem;
  }
}